# Dataset
ssd_model/animal_dataset/
ssd_model/dataset/

# Cache
__pycache__/
**/__pycache__/
*.pyc

# Virtual environment
.venv/
venv/
**/[Vv]env/
**/.[Vv]env/

# Ignore model files everywhere
**/*.pt
**/*.onnx

# BUT keep weights folder tracked
!weight/
!weight/*.pt
!weight/*.onnx

# System / IDE files
.DS_Store
.vscode/