# =========================================
# 1. BỎ QUA MÔI TRƯỜNG VÀ RÁC HỆ THỐNG
# =========================================
venv/
.venv/
env/
.pytest_cache/
__pycache__/
.DS_Store
Thumbs.db

# =========================================
# 2. BỎ QUA DỮ LIỆU NẶNG (Dataset)
# =========================================
data/
Animals-2/
*.zip
*.tar.gz

# =========================================
# 3. BỎ QUA THƯ MỤC TỰ SINH
# =========================================
runs/

# KHÔNG bỏ qua outputs nữa
# outputs/

# =========================================
# 4. QUẢN LÝ FILE TRỌNG SỐ (WEIGHTS)
# =========================================
# Chặn tất cả các file .pt và .pth
*.pt
*.pth

# NGOẠI LỆ: cho phép push best.pt
!checkpoints/best.pt

# =========================================
# 5. GIỮ THƯ MỤC RỖNG
# =========================================
# Git không lưu folder rỗng nên tạo file .gitkeep
outputs/.gitkeep